<script id="tmpl-TagCluster" type="text/html">
<div class="TagCluster">
	<div class="TagClusterChart">
		<canvas class="TagClusterChart-canvas"></canvas>
	</div>
	<div class="tag-info">
		<span></span>
	</div>
</div>
</script>