<script id="tmpl-TagCluster" type="text/html">
<div class="TagCluster">
	<div class="TagClusterContainer">
		<canvas id="TagCluster"></canvas>
	</div>
	<div class="tag-info">
		<span></span>
	</div>
</div>
</script>