/* TODO: You should clear this css and make it your own (this is not a boostrap css, just a css
 *       to support the quickstart index page.  
 * 
 * NOTE: For advanced application, we recommend going with Twitter Bootstrap and lesscss (Snow has 
 * builtin it support for less)
 */

body{
  height: 100%;
  background-image: url(images/body-bg.png);
}
em{
  font-family: monospace;
  color: #5588bb;
}

section.content{
  width: 80%;
  padding: 0 20px 20px 20px;
  margin: 0 auto 0 auto;
  background: #fff;
  border: solid 2px #ddd;  
}


.mainPage{
	margin-top:15%;
	text-align: center;
}

.header{
	font-size: 30px;
	line-height: 30px;
}
.searchForm{
	width: 555px;
	margin:15px auto;
}


.searchInput{
	width:555px;
}

.btns{
	text-align: center;	
}

.results{
	padding:10px;	
}

.title{
	color: #12c;
}

